/* base styling */


body,
html {
    margin: 0;
    padding: 0; 
    font-size: var(--font-size-large);
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
}
/* Navigation bar styling */
.navbar {
    background-color: var(--background-nav-color);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation links styling */
.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.nav-links {
    display: flex;
    gap: 10px;
}

.nav-link { /* Top Bar Font Text color 'Abmelden', 'Dashboard' */
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

.nav-link:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.user-info {
    color: var(--text-color);
}

.user_logged {
    color: var(--primary-color);
}
#portfolio-show-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--container-bg-color);
}
  
#portfolio-name {
    text-align: left;
    margin-left: 20px;
}
  
#portfolio-id {
    text-align: right;
    margin-right: 20px;
}
#portfolio-id,
#portfolio-name {
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
    color: var(--text-color);
}