<!-- dashboard.html  -->
{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="dashcontainer">
    <!-- Secondary Navbar -->
    <nav class="portfolio-navbar">

        <div class="group">
            <!-- Form um ein neues Portfolio zu erstellen -->
            <h2 id="portfolio-name" title="{{ current_portfolio[1] }}">Portfolio: {{ current_portfolio[1] }}</h2>
            <form action="{{ url_for('add_portfolio') }}" method="POST" class="portfolio-form">
                <input type="text" name="portfolio_name" placeholder="Neues Portfolio Name" required>
                <input type="submit" value="Erstellen">
            </form>
        </div>

        <div class="group">
            <!-- Form um ein neues Coinpair hinzuzufügen -->
            {% if current_portfolio %}
            <form action="{{ url_for('add_coinpair') }}" method="POST" class="portfolio-form">
                <input type="hidden" name="portfolio_id" value="{{ current_portfolio[0] }}">
                <input type="text" name="coinpair_search" id="coinpair_search" placeholder="Suche Paar z.b: XBT" autocomplete="off">
                <div id="coinpair-dropdown" class="custom-dropdown">
                    <!-- javascript -->
                </div>
                <input type="hidden" name="coinpair" id="selected_coinpair" required>
                <input type="submit" value="Hinzufügen">
            </form>
            {% endif %}        
            
            <!-- Form um das aktuelle Portfolio umzubenennen -->
            {% if current_portfolio %}
                <form action="{{ url_for('rename_portfolio') }}" method="POST" class="portfolio-form">
                    <input type="hidden" name="portfolio_id" value="{{ current_portfolio[0] }}">
                    <input type="text" name="new_name" placeholder="Portfolio Umbenennen" required>
                    <input type="submit" value="Umbenennen">
                </form>
            {% endif %}
        </div>

        <div class="group">
            <!-- Form to delete the current portfolio -->
            {% if current_portfolio %}
                <form action="{{ url_for('delete_portfolio') }}" method="POST" class="portfolio-form">
                    <input type="hidden" name="portfolio_id" value="{{ current_portfolio[0] }}">
                    <input type="submit" value="Aktuelles Portfolio löschen" class="delete-btn">
                </form>
            {% endif %}

            <!-- Dropdown für die Auswahl des Portfolios -->
            <div class="dropdown">
                <button class="button-style dropbtn">Portfolio auswählen</button>
                <div class="dropdown-content">
                    {% for portfolio in portfolios %}
                        <form action="{{ url_for('change_portfolio') }}" method="POST">
                            <input type="hidden" name="portfolio_id" value="{{ portfolio[0] }}">
                            <input type="submit" class="button-style" value="{{ portfolio[1] }}">
                        </form>
                    {% endfor %}
                </div>
            </div>
        </nav>
        
    
    <!-- Menge ihrer Coins in erster Währung eg: ETHUSDT = amount ETH * USDT = value -->
    <!-- requires database restructuring! 3 dimensional! -->
    <!-- neues Formular mit dem delete button bei jedem coinpair -->
    <div class="portfolio-display">
        {% if current_portfolio %}
           
            
            <!-- Show Name and ID  -->
            <div id="portfolio-show-cont">
    <h2 id="portfolio-created_at" title="{{ current_portfolio[2] }}">Erstellt am: {{ current_portfolio[2] }}</h2>
    <h2 id="portfolio-id" title="{{ current_portfolio[0] }}">Portfolio ID: {{ current_portfolio[0] }}</h2>
    <form action="{{ url_for('export_portfolio') }}" method="post">
        <button type="submit" class="export-button">Exportieren</button>
    </form>
</div>

            <table>
                <thead>
                    <tr>
                        <!-- Header Row -->
                        <th>Ticker</th>
                        <th>Last Trade Price</th>
                        <th>Volume</th>
                        <th>Low</th>
                        <th>High</th>
                        <th>Open</th>
                        <th>Close</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in coinpairs %}
                    <tr>
                        <!-- API Price Data -->
                        <td><div class="padded-background">{{ cp }}</div></td>
                        <td><div class="padded-background">{{ coinpair_info[cp]['last_trade_price'] }}</div></td>
                        <td><div class="padded-background">{{ coinpair_info[cp]['volume'] }}</div></td>
                        <td><div class="padded-background">{{ coinpair_info[cp]['low_price'] }}</div></td>
                        <td><div class="padded-background">{{ coinpair_info[cp]['high_price'] }}</div></td>
                        <td><div class="padded-background">{{ coinpair_info[cp]['opening_price'] }}</div></td>
                        <td><div class="padded-background">{{ coinpair_info[cp]['closing_price'] }}</div></td>
                        <td>
                            <form action="{{ url_for('delete_coinpair') }}" method="POST">
                                <input type="hidden" name="coinpair" value="{{ cp }}">
                                <div class="padded-background">
                                    <input type="submit" value="Löschen" class="delete-btn">
                                </div>
                            </form>
                        </td>
                    </tr>                    
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Keine Portfolios vorhanden.</p>
        {% endif %}
    </div>
    
{% endblock %}
