{% extends 'base.html' %}
<!--login.html-->
{% block title %}Anmelden{% endblock %}

{% block content %}
    <div class="user-form-container">
        <h1>Login</h1>
        <p>Anmelden mit Benutzername und Passwort</p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        
        <form action="{{ url_for('login') }}" method="post">
          <div class="group2">
            <label for="username">Benutzername:</label>
            <input type="text" class="username-pw" id="username" name="username" placeholder="username" required>
          </div>
          <div class="group2">
            <label for="password">Passwort:</label>
            <input type="password"  class="username-pw" id="password" name="password" placeholder="username" required>
          </div>
          <div class="group2">
            <input type="submit" value="Login">
            <button class="reset-pw-btn" onclick="location.href='{{ url_for('forgotpw') }}'">Passwort vergessen?</button>
          </div>
          <div class="group2">
            <label for="register">Noch kein Konto?</label>
            <button class="user-btns" onclick="location.href='{{ url_for('register') }}'">Registrieren</button>
        </form>
    </div>
{% endblock %}
