{% extends 'base.html' %}
<!-- register.html -->
{% block title %}Registrieren{% endblock %}
<!-- Blueprint: 'user.' -->
{% block content %}
    <div class="user-form-container">
        <h1>Register</h1>
        <p>Alle drei Felder müssen ausgefüllt sein!</p>
        <p>Bereits ein Konto? Hier Anmelden:<button class="button-style" onclick="location.href='{{ url_for('user.login') }}'">Anmelden</button></p>
        <!-- rewrite Anmelden with Button -->

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        <form action="{{ url_for('user.register') }}" method="post">
          <div class="group2">
            <label for="username">Benutzername:</label>
            <input type="text" class="username-pw" id="username" name="username" placeholder="username" required>
          </div>
          <div class="group2">
            <label for="email">E-Mail:</label>
            <input type="email" class="username-pw" id="email" name="email" placeholder="peter.mueller@gmail.com" required>
          </div>
          <div class="group2" id="login-btns">
            <label for="password">Passwort:</label>
            <input type="password" class="username-pw" id="password" name="password" placeholder="password" required>
          </div>
          <div class="group2">
            <label for="login">Jetzt Registrieren:</label>
            <input type="submit" class="user-btns" id="login" value="Registrieren">
          </div>
        </form>        
    </div>
{% endblock %}
